# Godot 4+ specific ignores
.godot/
*.avi
/AI/.vs/AmoeballAI
/AI/AmoeballAI/obj
/AI/GameTreeExplorer/obj
/AI/AmoeballAIConsole/obj
/AI/AmoeballAI/bin
/AI/GameTreeExplorer/bin
/AI/AmoeballAIConsole/bin
.vs/ProjectEvaluation/amoeball.strings.v9.bin
.vs/ProjectEvaluation/amoeball.projects.v9.bin
.vs/ProjectEvaluation/amoeball.metadata.v9.bin
.vs/Amoeball/v17/DocumentLayout.json
.vs/Amoeball/v17/DocumentLayout.backup.json
.vs/Amoeball/v17/.suo
.vs/Amoeball/v17/.futdcache.v2
.vs/Amoeball/FileContentIndex/f7e21f81-9460-43c7-b772-81c6312114ee.vsidx
.vs/Amoeball/FileContentIndex/f09e5345-45cd-475a-9fba-62fc38af294b.vsidx
.vs/Amoeball/FileContentIndex/527b899f-3a54-4971-9d47-c327a034cb6a.vsidx
.vs/Amoeball/FileContentIndex/3a3a81a2-6f08-4340-af11-7ed4a74cfa30.vsidx
.vs/Amoeball/DesignTimeBuild/.dtbcache.v2
lib/~libwebrtc_native.windows.template_debug.x86_64.dll
addons/godot-git-plugin/win64/~libgit_plugin.windows.editor.x86_64.dll
lib/~libwebrtc_native.windows.template_debug.x86_64.dll
addons/godot-git-plugin/win64/~libgit_plugin.windows.editor.x86_64.dll
